
*{
    font-family: georgia;  
}

p{
    font-size: 100%;
    line-height: 20px;
    text-align: justify;
    text-indent: 15px;
}

h1{
    font-size: 160%;
}

h2{
    font-size: 125%;
}

img{
    height: 300px;
    box-shadow: 10px 10px 5px gray;
    border: 2px solid blue;
    margin: auto;
}

figcaption{
    text-align: center;
    font-style: italic;
    font-size: 90%;
}

body.border{
    display:block;
    width: 950px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    border: 2px solid black;
}



figure{
    border-radius: 25px;
    border: 2px solid green;
    margin: auto;
}

.mkbold{
    font-weight: bold;
}

.mkunderlined{
    text-decoration: underline;
}

.subButton{
  color: rgb(85, 173, 50) !important;
  background: rgb(15, 77, 77) !important;
}
.subButton:hover {
  background-color: rgb(114, 59, 59) !important;
  color: black !important;
  border-color: green !important;
}
.subButton:active{
  background-image: url('../images/Logo.png') !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-color : rgb(50, 136, 64) !important;
  color: black !important;
  border-color: green !important;
}