
.layout {
    width: 50%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
.commentbox{
    
    background: rgb(167, 77, 146);
    box-shadow: 5px 10px 5px rgb(218, 168, 201);
    padding: 10px;
} 
body {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
.maintittle{
    text-align: center;
    margin: auto;
    width: 50%;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px #40084b;
}

.pbod{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.925), rgba(255, 255, 0, 0));
    padding: 10px;
}

.subtittle{ 
    text-align: center;
    margin: auto;
    width: 50%;
    color: rgb(255, 255, 255);
    }     
      



.item {
    width: 10000px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.Name{
    color: white;
}
.Header{
    color: rgb(7, 7, 7);
}
.Status{
    background-color: rgb(86, 207, 157);
    width: fit-content;
    padding: 2px;
}