.Mainc{
    text-align: center;
    background: rgb(244, 243, 244);
    box-shadow: 5px 10px 5px rgb(218, 168, 201);
    padding: 10px;
    /*width: 50%;*/
}
.Mainc input[type="submit"]{
    padding: 10px;
    width: 120px;
}
.Mainc input[type="button"]{
    padding: 10px;
    width: 40px;
    border-radius: 50%;
}
.Mainc #subbath{
    padding: 10px;
    width: 125px;
}
.Mainc #stop{
    padding: 10px;
    width: 82px;
}
body {
    background: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.floors .box{
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
  }
#setVal{
    width:220px; 
    height:40px; 
    margin-bottom: 5px;
    border-radius: 20px;
}
.setMargin{
    margin-bottom: 10px;
    margin-right: 40px;
}
.myBell{
    margin-left: 80px;
    margin-bottom: 10px;

    /*animation: ring 2s infinite;*/
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  2% {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  4% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  6% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  8% {
    -webkit-transform: rotate(-22deg);
    -ms-transform: rotate(-22deg);
    transform: rotate(-22deg);
  }

  10% {
    -webkit-transform: rotate(22deg);
    -ms-transform: rotate(22deg);
    transform: rotate(22deg);
  }

  12% {
    -webkit-transform: rotate(-18deg);
    -ms-transform: rotate(-18deg);
    transform: rotate(-18deg);
  }

  14% {
    -webkit-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    transform: rotate(18deg);
  }

  16% {
    -webkit-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  18% {
    -webkit-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  20% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}